<div id="user_edit" class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render 'users/shared/vertical_menu'%>
		</div>
		<div class="col-lg-8">
				<div class="ui form segment">
				<%= form_for(current_user,:url=>edit_settings_path,:html=>{:method=>:patch}) do |f|%>	
					<div class=" ui header">邮件通知</div>
					<p>控制Picshare向你发送邮件的时间和频率</p>
					<div class="field">
						<label>电子邮箱</label>
						<%= f.email_field :email%>
					</div>
				<%end%>
				</div>
		</div>
		
	</div>
	
</div>
