<div id="user_edit" class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render 'users/shared/vertical_menu'%>	
		</div>
		<div class="col-lg-8">
			<div class="ui form segment">
			<%= form_for(current_user,:url=>edit_settings_path,:html=>{:method=>:patch}) do |f|%>	
				<div class="header">密码</div>
				<p>更改你的密码或找回当前密码</p>
				<div class="field">
					<label>旧密码</label>
					<%= f.password_field :password,:required=>true%>
				</div>
				<div class="field">
					<label>新密码</label>
					<%= f.password_field :password%>
				</div>
			</div>
			<div class="ui section divider "></div>
			<div class="ui grid  button aligned center">提交修改</div>
			<%end%>	
			
		</div>
	</div>
</div>
