<div class="show_photo container">
	<div class="row">
		<div class="info_display">
			<div class="left floated ten wide column">
				<div class="profile vcard">
					  <%= link_to image_tag(@user.avatar), user_home_path(@user.username)%>
						 <h2><%= link_to @user.username, user_home_path(@user.username) %></h2>
				</div>
			</div>
			
		</div>
		<%= render 'photos/shared/photo_display'%>	
	</div>
	
</div>
