<div class="show_photo container">
	<div class="row">
		<div class="col-md-6">
			<div class="info_display">
				<%= link_to image_tag(current_user.avatar.small.url), user_home_path(current_user.username),:class=>"avatar"%>
				<h2><%= link_to current_user.username, user_home_path(current_user.username) %></h2>
			</div>
		</div>
	</div>
</div>
<div  id="user_photos" class="container">
	<div class="row">
		<%= render 'photos/shared/photo_display'%>	
	</div>
	
</div>
