 <%= form_for resource, :wrapper => :semantic_ui_no_label,as: resource_info,url: registration_path(resource_info),  :html => {:class => "root_registration"} do |f| %>
<div class="inline fields">
	<%= f.text_field :username, :required => true, :placeholder => "用户名", :input_html => { :class => "popup", "data-content"=> "用户名: 允许字母, 数字和下划线 3～20个字符", :tabindex => 1} %>
	<%= f.text_field :email, :required => true, :placeholder => "邮箱", :input_html => { :class => "popup", "data-content"=> "邮箱: 用来找回密码 / 接收通知", :tabindex => 2} %>
	<%= f.password_field :password, :required => true, :placeholder => "密码", :input_html => { :class => "popup", "data-content"=> "密码: 8个以上的字符", :tabindex => 3} %>
	<div class="field">
	<button type="submit" class="ui button green" tabindex="5">注 册</button>
<% end%>
