<div class="container" style="padding:0">
	<div class="gallery">
		<%@photos.each do |photo|%>
			<%= link_to image_tag(photo.image.medium.url),photo_path(photo),"data-target"=>"#photoModal","data-toggle"=>"modal",:class=>"preview each photo grid"%>
		<%end%>
	</div>
	
</div>
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="photo-modal">
		<div class="modal-dialog">
			
		</div>
	</div>
</div>
