/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import "semantic-ui";
@import "semantic-ui-patch";
@import "welcomes";
body{
	background-color:#FCFCFC;
	background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
	background-attachment:fixed;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
	padding: 0;
	color: #555555;
	nav.navbar.navbar-default{
		background:rgba(0,0,0,.3) !important;
		border-color:transparent; 
		a{
			color:#fff !important;
		}
		width:100%;
		.popup{ 
			background-color: black;
		}
		.menu{
			margin-left:-10px;
			margin-right:10px;
			.dropdown.icon{
				color:#fff;
			}
		}
		.ui.dropdown{
			line-height:3.5;
			.item{
				padding:0 1em !important;
				color:rgba(0,0,0,0.75) !important;
				line-height:3;
			}
		}
	}
  .root_photo{
		.container{
			margin-top:20px;
		}
		.ui.segment{
			background-color:rgba(226,231,234,0.2);
			width:780px;
			margin: 0 auto;
			padding:0;
			.field{
				margin:10px;
			}
			.root_registration{
			}
			.button{
				font-size:1.1em;
			}
		}
		.ui.popup{
			padding:5px;
		}
	}	
  footer{
		 width: 100%;
		 text-align: center;
		 margin-top:50px;
		 padding-bottom:10px;
		 z-index: 2;
		 bottom:10px;
		 color: #FFF;
		 .ui.link.list .item{
		 color: #FFF;
		 color: rgba(225, 225, 225, 0.8);
		 font-size: 12px;
		 }
	 }
	#photo_uploadarea{
		.photo_upload{
			text-align:center;
			margin:0 auto;
			padding-top:200px;
			input{
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: 0;
				opacity: 0;
				transform:translate(0,-10px) scale(1.2,3);
			}
		}
	}

}
.each.photo.grid{
	float:left;
	img{
		margin:0 2px 2px 2px;
		display: inline;
	}
}
