.show_photo{
	padding:0 !important;
	background-color:#fff;
	.row{
		margin:1rem auto;
	}
	.ui.menu{
		.item{
			margin-right:5px;
			font-size:14px;
		}
	}
	.col-md-6{
		padding-left:0;
	}
	.social_data{
		height:30px;
		li{
			float:left;
			margin-right:10px;
			margin-top:10px;
			list-style:none;
			a{
				color:#999;
				&:hover{text-decoration:none;}
			}
		}

	}
	.info_display{
		img{
			margin-left:5px;
		}
		.detail{
			margin:15px 0;
			padding:0;
			height:15px;
		}
		li{
			list-style:none;
			a{
				&:hover{text-decoration:none;}
			}
		}
		.avatar{
			width:100px;
			height:100px;
			margin:0 12px 0 0;
			float:left;
		}
		h2{
			font-size:22px;
			margin:0;
			text-align:left;
			a{
				color:#333;
				&:hover{
					text-decoration:none;
				}
			}
		}
	}
}
#user_photos{
	margin-top:15px;
	background:#fff;
	.photo_detail{
		.each_photo{
			width:280px;
			height:230px;
			margin: 5px;
			padding:0;
			float:left;
			.ui.items > .item{
				width:auto;
				margin:0;
				min-height:0;
			}
		 	.preview{
				height:191px;
				display:block;
				overflow: hidden;
				text-align:center;
				img{
					width:280px;
				}
			}
			.ui.corner.label{
				width:3em;
				height:2em;
			}
		}
	}
}
	.pswrapper{
		.large-image{
			float:left;
			padding:0;
			img{
				float:right;
			}
		}
		.image-info{
			float:left;
			height:638px;
			padding:0;
			background:#fff;
			.modal-header{
				height:80px;
				.avatar{
				}
				.uploaderhead{
					margin-right: 10px;
					float:left;
				}
				.photouploadername{
					overflow: hidden;
					text-align:left;
					font-weight: bold;
					a{
						color:#3b5998;

					}
				}
				.uploadertime{
					overflow:hidden;
					height:22px;
					text-align:left;
				}
				.isedit{
					overflow:hidden;
					text-align:left;
				}
			}
		}
	}
#photoModal{
	background-color: rgba(0, 0, 0, .9);
	.modal-dialog{
		margin-top:0;
		margin-bottom:0;
		width:1200px;
		height:638px;
	}
	iframe{
		margin-top:20px;
		height:640px;
	}
}
.modal-backdrop.fade.in{
	background-color: rgba(0, 0, 0, .9);
}
.photoshowbody{
	width:880px;
	height:520px;
	background-color: rgba(0, 0, 0, .9);
	/*background: transparent;*/
}
.changephoto{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	.icon-prev{
		width:40%;
		float:left;
		left:0;
		height: 100%;
		opacity:0;
		background:asset_url("prev.png") left 48% no-repeat;
	}
	a.icon-prev:hover{
		opacity:1;
	}
	a.icon-next:hover{
		opacity:1;
	}

	.icon-next{
		width:40%;
		float:right;
		right:0;
		height:100%;
		opacity:0;
		background:asset_url("next.png") right 48% no-repeat;
	}
}
.editphotomodal{
	.modal-backdrop.in{
		opacity: 0.2;
	}
	.modal-page{
		transform: translate(0, 0);
		transition: transform 0.3s ease-out;
		width: 400px;
		margin: 10% auto;
		position: relative;
	}
	.modal-header{
		height: 31px;
		padding:0;
		background: #F3F3F3;
		h3{
			height:31px;
			line-height: 31px;
			font-weight: bold;
			margin:0;
			padding-left:10px;
			font-size:13px;
			overflow: hidden;
		}

	}
}
